canvas {
    border: 2px solid #000;
}

body{
    background-color: antiquewhite;
}


#layout{
    display: flex;
    height: 100vh;
}


#sidebar{
    width: 200px;
    background-color:coral;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;


}

#sidebar button{
    padding: 13px;
    font-size: 20px;
    border-radius: 8px;
}


#content{
    flex:1;
    padding: 20px;
}

